*{
  box-sizing: border-box;
  padding: 0;
}

.para{
  float: left;
  width: 33.33%;
  background: green;
  /* padding: 10px 20px; */
  border: 1px solid red;
  padding: 2%;
}

.para2{
  width: 80%;
  margin: 10px 0;
  text-align: justify;
  /* text-decoration: line-through; */
  text-transform: uppercase;
/* word-spacing: 20px;
letter-spacing: 10px; */
text-indent: 100px;
text-shadow: 2px 2px 5px red;
font-weight: 700;
}




